.navbar-container
    width: 100%
    height: var(--navbar-height)

    padding: 0.25rem 0.5rem
    box-sizing: border-box

    position: absolute
    bottom: 0

    display: flex

    justify-content: space-around
    align-items: center

    background-color: light-dark(var(--background-color))

    .nav-wrapper
        height: 100%
        flex: 1

        display: flex
        justify-content: center
        align-items: center

        border-radius: 0.5rem
        // background: gray

        text-align: center

        color: light-dark(var(--text-color))

        .icon
            display: inline-block
            font-size: 1.5rem

        a
            color: light-dark(var(--text-color))
            text-decoration: none
