.navbar-container
    width: 90%
    height: var(--navbar-height)

    box-sizing: border-box

    border-radius: 1rem
    overflow: hidden

    position: fixed
    bottom: 1%
    left: 50%
    transform: translateX(-50%)

    display: flex
    justify-content: space-around
    align-items: center

    background-color: var(--background-color)

    .nav-wrapper
        height: 100%
        flex: 1

        display: flex
        justify-content: center
        align-items: center

        // border-radius: 0.5rem

        text-align: center

        .icon
            display: inline-block
            font-size: 1.5rem
            color: inherit

    a
        color: var(--text-color)
        text-decoration: none

    .active-page
        transition: background 0.2s ease, color 0.2s ease
        background: var(--text-color)
        color: var(--background-color) !important

        box-shadow: 0px 0px 50px var(--text-color)
