#historyPage
    overflow: hidden
    height: fit-content

    padding-bottom: var(--navbar-height)

    .history-container
        display: flex
        flex-direction: column
        gap: 1rem

        .history-item
            padding: 1rem

            border-radius: 1rem
            border: 1px solid var(--border-color)

            &__info-container
                display: flex
                justify-content: space-between
                align-items: center

                .history-item__type
                    font-size: 1.25rem
                    font-weight: 500

                .history-item__date
                    font-size: 0.85rem

                .history-item__label, .history-item__notes
                    margin-top: 0.5rem
                    color: var(--text-secondary-color)

            &__time
                margin-top: 1rem
                display: flex
                justify-content: space-around
                align-items: center
