:root
    color-scheme: light dark

    --background-color: #ffffff, #141414
    --text-color: #161616, #cfcfcf
    --text-secondary-color: #252525, #797979

    --border-color: #d8d8d8, #2e2e2e

    --accent-color: rgb(185, 166, 111), rgb(255, 226, 171)
    --progress-trail-color: #c0c0c0, #303030

    --title-size: 2rem
    --font-size: 1rem

    --navbar-height: 5rem

@font-face
    font-family: Montserrat
    src: url("/Montserrat-VariableFont_wght.ttf") format("truetype")

@font-face
    font-family: 'Noto Sans Mono'
    src: url('/NotoSansMono-VariableFont_wdth,wght.ttf') format('truetype')

html, body, #root
    width: 100%
    height: 100%
    margin: 0
    padding: 0

body
    font-family: Montserrat, 'Times New Roman', Times, serif

    background: light-dark(var(--background-color))
    color: light-dark(var(--text-color))

    font-size: 1rem

.scrollsnap-page-container
    width: 100%
    height: calc(100% - (var(--navbar-height) + 0.5rem))

    box-sizing: border-box

    display: flex
    flex-direction: column
    flex-wrap: nowrap

    z-index: 1

    .title
        font-size: var(--title-size)
        font-weight: 600

.page-container
    padding: 2rem
    box-sizing: border-box

    // height: calc(100% - (var(--navbar-height) + 0.5rem))
    height: 100%

.page-title
    text-align: center
    font-size: var(--title-size)
    font-weight: 600

    margin-bottom: 1.5rem

.timer-container
    width: 100%
    height: 100%

    overflow: auto

    scroll-snap-type: y mandatory

    .timer-wrapper
        // --width-size: 18rem /* variable for circle */

        scroll-snap-align: start

        width: 100%
        height: 100%

        padding: 1.5rem
        box-sizing: border-box

        display: flex
        flex-direction: column

        justify-content: center
        align-items: center

        position: relative

        gap: 1rem

        .header
            display: flex
            flex-direction: column

            justify-content: center
            align-items: center
            gap: 0.25rem

            position: absolute

            top: 5%

            .timer-type
                font-size: var(--title-size)
                // color: light-dark(var(--text-secondary-color))

                font-weight: 600

        .timer-misc
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            gap: 0.25rem

            .timer-label
                font-size: 1.25rem

            .timer-notes
                display: flex
                justify-content: space-between

                gap: 1rem
                color: gray

            .input-field-container
                display: flex
                align-items: center

                background-color: light-dark(var(--background-color))
                padding: 0.25rem 0.5rem

                border: 1px solid light-dark(#cfcfcf, #363636)
                border-radius: 0.5rem

                .label-field
                    background: none

                    outline: 0
                    border: 0
                    padding: none

                    font-size: 1rem
                    font-family: inherit
                    font-weight: inherit

                    transition: border 0.2s ease

                .btn-icon
                    font-size: 1.25rem

        .timer-display
            display: flex
            justify-content: center
            align-items: center

            font-size: 3rem

            font-family: Noto Sans Mono, monospace
            font-weight: 300
            color: light-dark(var(--text-color))

            .CircularProgressbar

                &-path
                    stroke: light-dark(var(--accent-color))

                &-trail
                    stroke: light-dark(var(--progress-trail-color))

        .timer-field
            font-family: Noto Sans Mono, monospace
            font-weight: 300
            color: light-dark(var(--text-color))

            input
                border: 2px solid light-dark(var(--border-color))
                outline: 0
                font-weight: 300

                // background: rgb(17, 17, 17)

                border-radius: 1rem

                text-align: center
                font-family: inherit

                transition: border 0.2s ease, border-radius 0.2s ease

                &:focus-visible
                    border: 2px solid rgb(78, 78, 78)
                    border-radius: 1.25rem

        .button-container
            width: fit-content
            height: fit-content

            display: block

            display: flex
            justify-content: center
            align-items: center
            gap: 2rem

            button
                border: 0
                border-radius: 0.5rem
                outline: 0

                font-family: inherit
                font-size: 2.5rem

                background: none

.btn-icon
    background: none
    border: 0
    outline-color: transparent

    padding: 0 0.25rem

    aspect-ratio: 1 / 1

    font-size: 1.5rem
    font-family: inherit
    color: inherit

    transition: background 0.2s ease, color 0.15s ease, scale 0.1s ease

    border-radius: 50%

    &:active
        scale: 0.9
        // background: light-dark(var(--text-color))
        // color: light-dark(var(--background-color))

.number-input-field
    border: 2px solid #1b1b1b
    outline: 0
    font-weight: 300

    background: none

    border-radius: 1rem

    text-align: center
    font-family: Noto Sans Mono, monospace
    font-weight: 300
    color: light-dark(var(--text-color))

    transition: border 0.2s ease, border-radius 0.2s ease

    &:focus-visible
        border: 2px solid rgb(78, 78, 78)
        border-radius: 1.25rem

.divider
    margin: 2rem 0
    border-bottom: 1px solid light-dark(var(--border-color))

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0

/* Firefox */
input[type=number]
    -moz-appearance: textfield
